# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
venv/
ENV/

# Databases
*.db
app.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Playwright
playwright/.cache/
